<div class="border p-1 m-1 rounded">

    <div class="h5 text-center mt-4">
        Consulta de Gatos
    </div>
    <div class="text-center mt-4">
        <button class="btn btn-primary" (click)="consultarGatos()">Consultar todos</button>
    </div>
    <hr>
    <div class="mt-4">
        <div *ngFor="let gatoI of gatos" class="row mt-2">
            <span class="col-3 text-primary">{{gatoI.nombre}}</span>
            <span class="col-3 text-secondary ml-3">{{gatoI.edad}}</span>
            <button class="col-3 btn btn-danger btn-sm" (click)="eliminarGato(gatoI.nombre)">eliminar</button>
        </div>
    </div>
   <div class="mt-4 px-4 text-secondary">
    instancia {{nInstanciaServicio}} del servicio de Datos
   </div> 
</div>
