<div class="container">
  <div *ngIf="ejemploObservable">
    <p class="h5 my-3">Ejemplo de observable</p>
    <app-test-observable></app-test-observable>
  </div>
  <div *ngIf="ejemploFromEvent">
    <p class="h5 my-3">Ejemplo de fromEvent. UIEvents y stopPropagation()</p>
    <app-repaso-arreglos></app-repaso-arreglos>
    <hr class="mt-4">
  </div>
  <div *ngIf="ejercicioFromEvent"  class="mt-4">
    <p class="h5 my-3">Ejercicio de fromEvent. </p>
    <app-test-rxjs01></app-test-rxjs01>
  </div>
  <div class="mt-4" *ngIf="componenteParametrizado">
    <p class="h5 my-3">Ejemplo de interval. </p>
    <app-test-interval pausaStr="400"></app-test-interval>
    <app-test-interval pausaStr="800"></app-test-interval>
    <app-test-interval></app-test-interval>
  </div>
  <div *ngIf="ejemploManejoDeErrores">
    <app-test-errores></app-test-errores>
  </div>
  <div *ngIf="ejercicioTakeUntil">
    <app-ejer-take-ultil></app-ejer-take-ultil>
  </div>
  <div *ngIf="ejercicioMerge">
    <app-ejer-merge></app-ejer-merge>
  </div>
  <div *ngIf="ejercicioConcat">
    <app-ejer-concat></app-ejer-concat>
  </div>
  <div *ngIf="ejemploDebounce" class="mt-4">
    <app-test-debounce></app-test-debounce>
  </div>
  <div *ngIf="ejemploThrottle" class="mt-4">
    <app-test-throttle></app-test-throttle>
  </div>

</div>