<div class="container">
  <div *ngIf="ejemploObservable">
    <p class="h5 my-3">Ejemplo de observable</p>
    <app-test-observable></app-test-observable>
  </div>
  <div *ngIf="ejemploFromEvent">
    <p class="h5 my-3">Ejemplo de fromEvent. UIEvents y stopPropagation()</p>
    <app-repaso-arreglos></app-repaso-arreglos>
    <hr class="mt-4">
  </div>
  <div *ngIf="ejercicioFromEvent"  class="mt-4">
    <p class="h5 my-3">Ejercicio de fromEvent. </p>
    <app-test-rxjs01></app-test-rxjs01>
  </div>
  <div class="mt-4">
    <p class="h5 my-3">Ejemplo de interval. </p>
    <app-test-interval pausaStr="400"></app-test-interval>
    <app-test-interval pausaStr="800"></app-test-interval>
    <app-test-interval></app-test-interval>
  </div>
</div>